/* style.css */
:root {
    --bg-color: #ddd;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  body {
    font-family: "맑은 고딕", sans-serif;
    color: #333;
    background: var(--bg-color);
  }
  
  section, .container {
    width: 1200px;
    margin: 0 auto;
    background: var(--bg-color);
  }
  
  .breadCrumb {
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
  }
  #product-detail {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  #product-detail figure {
    width: 65%;
    /* outline: 1px solid red; */
  }
  
  #product-detail figure img {
    width: 100%;
  }
  
  #product-detail .info {
    width: 35%;
    /* outline: 1px solid red; */
    background: #fff;
    border-radius: 20px;
    padding: 40px;
  }
  
  
  /* 상세정보 */
  #product-detail .info h2{
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  #product-detail .product-code {
    font-size: 14px;
    color: #666;
  }
  
  #product-detail .price-box {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
  }

  .option{
      background: var(--bg-color);
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
  }
  .option > li{
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
  }
  .option > li:last-child{
      margin-bottom: 0;
  }
  .option > li h3{
      color: #666;
      font-weight: normal;
      font-size: 16px;
  }
  .option .colorOption .color{  
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    text-indent: -9999px;

  }
  .color-list .color:nth-child(1){
      background: #000;
  }  
  
  .color-list .color:nth-child(2){
    background: #223631;
    }  
   .color-list .color:nth-child(3){
    background: #cac5c2;
    }  
    input, select{
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    .numberOption .count{
        width: 4em;
        text-align: center;
    }
    .total-price-box{
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

    }
    .total-price{
        font-size: 28px;
        font-weight: bold;
    }

    .button-group{
        display: flex;
    }
    .btn{
        width: 50%;
        padding: 10px 20px ;
        border-right: 2px solid #000;
        font-size: 16px;
        cursor: pointer;

    }

    .carBtn{
        margin-right: 5px;
    }
    .buyBtn{
        margin-left: 5px;
        background: #000;
        color: #fff;
    }